:root {
    --green: #58B296;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
    
    background-color: #2e3033;
    font-family: Arial, Helvetica, sans-serif;
    
    /* scroll-margin-top: 26rem; */
    scroll-padding-top: 21rem;
}

ul, li {
    list-style: none;
    padding: 0;
}

ul:first-of-type {
    margin-top: 0;
}

li {
    padding: 5px;
    width: fit-content;
}

li .child {
    padding: 15px;
}

p {
    color: white;
    width: 80%;
    margin: 0 25px;
    font-size: 12px;
    padding: 0 15px;
}

label {
    color: var(--green);
    cursor: pointer;
    width: 50%;
}

input[type=checkbox] {
    transform: scale(0.8);
    outline: 3px solid black;
}

input.heading[type=checkbox] {
    transform: scale(1);
    outline: 3px solid var(--green);
}

.heading {
    margin-top: 5px;
}

a.pageJump {
    text-decoration: none;
    color: var(--green);
    display: block;
    text-align: center;
    font-size: 24px;
    margin: 5px;
    padding: 5px;
    border-bottom: 2px solid var(--green);
    box-shadow: 1px 2px 3px var(--green);
    cursor: pointer;
  }

.pageNav {
    grid-area: nav;
    margin: 0 auto;
    background-color: #1c1d1f;
    position: sticky; 
    height: 77px;
    min-width: 350px;
    justify-content: space-evenly;
    top: 0px;
    display: flex;
    width: 90%;
    border: 2px solid var(--green);
    border-top: none;
    border-bottom: none;
    z-index: 1;
}

a.magJump {
    text-decoration: none;
    color: var(--green);
    display: block;
    border-bottom: 1px solid var(--green);
}

.expand {
    display: block;
    color: var(--green);
    background-color: #1c1d1f;
    position: sticky;
    top: 77px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    z-index: 1;
    border: 2px solid var(--green);
    border-top: none;
    min-width: 350px;
}

.expand:hover {
    cursor:default;
    color: #1c1d1f;
    background-color: var(--green);
}

.expand:hover .jump {
    display: block;
}

.jump {
    text-align: center;
    display: none;
    min-width: 350px;
    font-size: 14px;
    background-color: #1c1d1f;
    
    margin: auto;
    z-index: 1;
}

.grid {
    display: grid;
    grid-template-areas:
        'menu nav'
        'menu main'
        'hold foot';
    gap: 0px;
    padding: 0px;
    height: 100%;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr auto;
}


.wrapper {
    border-bottom: 5px solid var(--green);
    background-color: #1c1d1f;
    width: 90%;
    margin: auto;
    min-width: 350px;
}

.check input:hover {
    cursor: pointer;
    background-color: #000;
}

.child{
    font-size: 14px;
}

.parent{
    font-size: 16px;
    font-weight: bolder;
}

.up {
    position: sticky;
    top: 78px;
    left: 185px;
    height: 30px;
}

.up a {
    text-decoration: none;
    display: inline;
    color: #1c1d1f;
    background-color: var(--green);
    width: fit-content;
    height: fit-content; 
    font-size: 20px;
    padding: 5px;
    border-radius: 3px;
}

.up a:hover {
    color: var(--green);
    background-color: #1c1d1f;
}