.scheduling .grid-container {
    display: grid;
    grid-template-areas:
        'menu main upcoming'
        'menu main upcoming'
        'menu foot foot';
    gap: 0px;
    padding: 0px;
    height: 100vh;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr auto;
}




.upcoming {
    grid-area: upcoming;
}


.events {
    width: 100%;
    height: 80%;
    border: 3px solid #000000;
    align-self: center;
    overflow: scroll;
    box-shadow: 5px 5px 10px black;
}

.container {
    height: 80%;
    width: 90%;
}

/* .container:not(.events) {
    text-align: center;
} */

p {
    margin: 5px;
    font-size: 14px;
}

h3 {
    margin: 5px;
    font-size: 18px;
}

.event {
    white-space: pre-wrap;
    border-bottom: 1px solid #000000;
    border-width: 90%;
    word-wrap: break-word;
    padding: 0;
}

.events.deleter {
    float: right;
}

.deleter {
    float: right;
    margin-right: 5px;
    font-weight: bolder;
}

.deleter:hover {
    color: red;
    cursor: pointer;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.calendar {
    align-items: center;
    height: 80%;
    width: 90%;
    min-width: 225px;
    z-index: 0;
    box-shadow: 5px 12px 7px;
}

.dateBox, .heading, .events, .headingEvent {
    /* background-color: #2D3032; */
    color: black;
}

.scheduler {
    align-items: center;
    background-color: white;
    height: 50%;
    width: 40%;
    margin: auto;
    z-index: 1;
    display: none;
    border: 3px solid #000000;
    position: absolute;
}

.note {
    display: inline-block;
}

.memo {
    border-style: none solid solid none;
    border-width: 3px;
    border-color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.red {
    color: rgb(211, 0, 0);
}

.green {
    color: rgb(0, 187, 0);
}

.blue {
    color: rgb(0, 0, 153);
}

.purple {
    color: rgb(140, 0, 175);
}

.note:hover {
    color: pink;
}

.schedule {
    margin: 10px 0px 10px 5px;
    min-width: 15%;
    width: fit-content;
}
.alert::placeholder {
    color: red;
}

#startTime {
    width: 15%;
}

#scheduledDay {
    font-size: 25px;
    border-bottom: 2px solid #000000;
}

.labels {
    margin: 10px 0 0 10px;
}

textarea {
    resize: none;
}

.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
}

.button {
    margin: 5px;
    height: 40px;
    width: 80px;
    font-size: 15px;
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 0;
}

.button:hover {
    background-color: rgb(77, 77, 77);
    color: white;
    cursor: pointer;
}

#description {
    
}

.close {
    font-size: 20px;
    margin-left: auto;
    margin-right: 5px;
    padding: 0;
    width: fit-content;
    height: 20px;
}

.close:hover {
    cursor: pointer;
    color: red;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    padding: 0;
}

.calendar li {
    width: calc(100% / 7);
}

.dayName {
    margin: 0;
    padding: 10px 0 0 0;
    height: 10%;
    border-bottom: 5px solid #000000;
    border-top: 5px solid #000000;
    font-weight: bold;
}

.dayName li {
    outline: 2px solid #000000;
}

.dayList {
    height: 65%;
    gap: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.dayList li {
    min-height: 51px;
    height: 25%;
    outline: 2px solid #000000;
}

.dayList li:hover {
    background-color: rgba(71, 104, 136, 0.63);
    cursor: pointer;
}

.heading {
    align-items: center;
    display: flex;
    height: 10%;
    justify-content: center;
    width: 100%;
    outline: 2px solid black;
}

.active {
    background-color: rgba(83, 128, 170, 0.74);
}

.month {
    text-align: center;
    width: 35%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #000000;
    border-style: none solid;
}

h1 {
    margin: 0;
    font-size: 20px;
}

.right {
    width: 15%;
}

#prev:hover,
#next:hover {
    background-color: rgb(77, 77, 77);
    cursor: pointer;
}

#next {
    border: 0px solid #000000;
    border-radius: 60px;
    background-color: #7D7F80;
    font-weight: bold;
    font-size: 30px;
    float: right;
}

.left {
    width: 15%;
    height: 30px;
}

#prev {
    /* border: 0px solid black; */
    border-radius: 60px;
    background-color: #7D7F80;
    font-weight: bold;
    font-size: 30px;
}

.nextMonth,
.prevMonth {
    background-color: rgb(77, 77, 77);
    outline: 2px solid black;
    color: white;
}

@media screen and (max-width: 850px) {
    .scheduling .grid-container {
        display: grid;
        grid-template-areas:
            'menu main'
            'menu upcoming'
            'menu foot';
        gap: 0px;
        padding: 0px;
        height: 100vh;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: auto 1fr auto;
    }

    .scheduler {
        align-items: center;
        background-color: white;
        height: 50%;
        width: 100%;
        margin: auto;
        z-index: 1;
        display: none;
        border: 3px solid #000000;
        position: absolute;
    }

    .wrapper {
        align-items: normal;
    }

    .main {
        height: fit-content;
    }

    .calendar {
        align-items: center;
        height: fit-content;
        width: 90%;
        z-index: 0;
    }

    .events {
        height: 100%;
        width: 100%;
    }

    .upcoming {
        padding-top: 10px;
    }

    .container {
        width: 90%;
    }
}

@media screen and (max-width: 400px) {
    .scheduling .grid-container {
        display: grid;
        grid-template-areas:
            'menu'
            'main'
            'upcoming'
            'foot';
        gap: 0px;
        padding: 0px;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr auto;
    }

    .scheduler {
        align-items: center;
        background-color: white;
        height: 50%;
        width: 100%;
        margin: auto;
        z-index: 1;
        display: none;
        border: 3px solid #000000;
        position: absolute;
    }

    .wrapper {
        align-items: normal;
    }

    .main {
        height: fit-content;
    }

    .calendar {
        align-items: center;
        height: fit-content;
        width: 100%;
        z-index: 0;
    }

    .events {
        height: 100%;
        width:100%;
    }

    .upcoming {
        overflow: scroll;
    }

    .container {
        width: 100%;
    }
}